form, ul, #zeroTasks, #alert{
    width: fit-content;
    margin-inline: auto;
    margin-top: 10px
}

#alert {
    color: orange;
    font-weight: bold;
}

button{
    margin-left: 10px
}

button, li{
    cursor: pointer
}