form, ul, #zeroTasks, #alert{
    width: fit-content;
    margin-inline: auto;
    margin-top: 10px
}
#dateInput{
    margin-left: 5px
}
#alert {
    color: orange;
    font-weight: bold;
}

button{
    margin-left: 10px
}

button, li{
    cursor: pointer
}

.task{
    display: flex;
    gap: 10px
}
.task:hover .deleteBtn{
    visibility: visible
}
.deleteBtn{
    color: red;
    cursor: pointer;
    visibility: hidden
}